@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
/* Inter Fonts */
@font-face {
	font-family: Inter;
	src: url(/font/Inter/Inter-VariableFont_slntwght.ttf);
	font-weight: 400 500 700 800 900;
}
/* Inter Tight Fonts */
@font-face {
	font-family: InterTight;
	src: url(/font/Inter_Tight/InterTight-VariableFont_wght.ttf);
	font-weight: 400 500 700 800 900;
}
/* Roboto */
@font-face {
	font-family: Roboto;
	src: url(/font/Roboto/Roboto-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Roboto;
	src: url(/font/Roboto/Roboto-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Roboto;
	src: url(/font/Roboto/Roboto-Bold.ttf);
	font-weight: 700;
}

:root {
	/* --color-primary-rgb: 53 107 179; */
	--color-primary-rgb: 15 65 117;
	/* --color-primary-rgb: 58 134 255; */
	/* --color-secondary-rgb: 223 174 129; */
	--color-secondary-rgb: 187 153 71;
	/* --color-secondary-rgb: 251 182 1; */
	--color-accent-rgb: 255 243 203;
	/* #F4F4F4 */

	--color-nursery-rgb: 15,64,116;

	/* color-scheme: light dark; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: Boogy;
	src: url(/font/Boogy_Brut_Poster_WEB-White.woff2);
	font-weight: 400 500 700 800 900;
}
@font-face {
	font-family: Tobias;
	src: url(/font/tobias-light.woff2);
	font-weight: 400 500 700 800 900;
}
@font-face {
	font-family: WorkSans;
	src: url(/font/work_sans/VariableFont.ttf);
	font-weight: 400 500 700 800 900;
}

* {
	/* font-family: Inter; */
}

@layer base {
	.h1 {
		@apply text-[40px] lg:text-[56px] leading-[120%];
	}
	.h2 {
		@apply text-4xl lg:text-5xl leading-[120%];
	}
	.h3 {
		@apply text-[32px] lg:text-[40px] leading-[120%];
	}
	.h4 {
		@apply text-2xl leading-[140%] lg:text-[32px] lg:leading-[130%];
	}
	.h5 {
		@apply text-xl lg:text-2xl leading-[140%];
	}
	.h6 {
		@apply text-lg lg:text-xl leading-[140%];
	}
	.link1 {
		@apply flex transition-all duration-500 group-hover:-translate-y-full;
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	}
	.link2 {
		@apply translate-y-full absolute inset-0 transition-all duration-500 group-hover:translate-y-0;
		transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
	}
}

@layer components {
}
/* section#inspirational-banner > div {
	clip-path: polygon(0 0, 100% 100%, 100% 90%, 100% 100%);
} */
.noise {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../assets/noise.png);
	background-size: auto;
	background-repeat: repeat;
	mix-blend-mode: overlay;
	opacity: 0.2;
	z-index: 4;
}
